{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section id="main-content" class="mndshbord">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="hdr">
                    Setup
                </h1>
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-sm-12 col-xs-12">
                            <div class="tab_wrapper first_tab">
                                <ul class="tab_list">
                                    <li class="active">Store - Section - Item Category </li>
                                    <li>Entity Type - Issue Type - Number of Books - Number of Days</li>
                                </ul>
                                <div class="content_wrapper">
                                    <div class="tab_content active">
                                        <div class="adv-table">
                                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 296px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">SL No.</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Store-Section-Item Category</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 361px;" aria-label="Platform(s): activate to sort column ascending">Abbr</th>
                                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 254px;" aria-label="Engine version: activate to sort column ascending">Last Sequence No</th>
                                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 184px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        {% for lpmap in map_queryset %}
                                                        <tr class="gradeA odd">
                                                            <td class="sorting_1">{{ lpmap.id }}</td>
                                                            <td>{{ lpmap.store.name }} -{{ lpmap.section.name }} - {{ lpmap.book_category.name }}</td>
                                                            <td>{{ lpmap.abbr }}</td>
                                                            <td class="center hidden-phone ">{{ lpmap.sequence }}</td>
                                                            <td>
                                                                <a href="#" class="social-icon" data-toggle="modal" data-target="#myModal47">
                                                                    <i class="fa fa-pencil editt"></i>
                                                                    <div class="tooltip">Edit</div>
                                                                </a>
                                                                <div id="myModal47" class="modal fade modallog" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">UPDATE RECORDS</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal bv-form" role="form" method="POST" action="{% url 'library_mapping_edit' pk=lpmap.id %}" id="frmvendorsetup" novalidate="novalidate">
                                                                                	{% csrf_token %}
                                                                                    <div class="row">
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Store:</label>
                                                                                            <div>
                                                                                                <select class="form-control" name="storetype">
                                                                                                    {% for sto in sto_queryset %}                                                                                	
                                                                                                    <option value="{{sto.id}}">{{ sto.name }}</option>
                                                                                                    {% endfor %}
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Section:</label>
                                                                                            <div>
                                                                                                <select class="form-control" name="sectiontype">
                                                                                                    {% for sec in sec_queryset %}
                                                                                                    <option value="{{sec.id}}">{{ sec.name }}</option>
                                                                                                    {% endfor %}
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Book Category:</label>
                                                                                            <div>
                                                                                                <select class="form-control" name="bookcategorytype">
                                                                                                    {% for book_c in book_cat_queryset %}
                                                                                                    <option value="{{book_c.id}}">{{ book_c.name }}</option>
                                                                                                    {% endfor %}
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Abbr:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="abbras" value="{{ lpmap.abbr }}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Sequence No:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="sequenceins" value="{{ lpmap.sequence }}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <div class="col-sm-12 text-center mngtop30">
                                                                                                <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-pencil"></i> Update</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="social-icon">
                                                                    <i class="fa fa-trash-o deletee"></i>
                                                                    <div class="tooltip">Delete</div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="row-fluid">
                                                    <div class="span6 col-sm-8">
                                                        <div class="dataTables_filter" id="dynamic-table_filter"><label>Search: <input type="text" class="form-control" aria-controls="dynamic-table"></label></div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid col-sm-4">
                                                    <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group col-sm-12 col-xs-12">
                                            <div class="row">
                                                <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-plus pluss"></i> Add New
                                                </button>
                                            </div>
                                            <div id="myModal" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">ADD RECORDS</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'library_mapping_create' %}" novalidate="novalidate">
                                                                {% csrf_token %}
                                                                <div class="form-group has-feedback">
                                                                    <label for="" class="col-sm-2 control-label">Store:</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" name="storename_1">
                                                                            {% for sto in sto_queryset %}
                                                                            <option value="{{sto.id}}">{{ sto.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label for="" class="col-sm-2 control-label">Section:</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" name="section_1">
                                                                            {% for sec in sec_queryset %}
                                                                            <option value="{{sec.id}}">{{ sec.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label for="" class="col-sm-2 control-label">Book Category:</label>
                                                                    <div class="col-sm-10">
                                                                        <select class="form-control" name="book_category">
                                                                            {% for book_c in book_cat_queryset %}
                                                                            <option value="{{book_c.id}}">{{ book_c.name }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label for="" class="col-sm-2 control-label">Abbr:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="abbr123">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label for="" class="col-sm-2 control-label">Sequence No:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="sequence1234">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-save"></i> Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_content">
                                            <div class="adv-table">
                                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                    <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 296px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">SL No.</th>
                                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Store-Section-Item Category</th>
                                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Entity Type</th>
                                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Issue Type</th>
                                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Numbers Of Books</th>
                                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Numbers Of Days</th>
                                                                <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 184px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                            {% for leemap in lemap_queryset %}
                                                            <tr class="gradeA odd">
                                                                <td class="sorting_1">{{ leemap.id }}</td>
                                                                <td>{{ leemap.entity.name }}</td>
                                                                <td>{{ leemap.issue_type.name }}</td>
                                                                <td>{{ leemap.num_of_books }}</td>
                                                                <td>{{ leemap.max_days }}</td>
                                                                <td>
                                                                    <a href="#" class="social-icon" data-toggle="modal" data-target="#myModal48">
                                                                        <i class="fa fa-pencil editt"></i>
                                                                        <div class="tooltip">Edit</div>
                                                                    </a>
                                                                    <div id="myModal48" class="modal fade modallog" role="dialog">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    <h4 class="modal-title">UPDATE RECORDS</h4>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'library_entity_mapping_edit' pk=leemap.id %}" novalidate="novalidate">
                                                                                        {% csrf_token %}
                                                                                        <div class="row">
                                                                                            <div class="form-group has-feedback col-sm-6">
                                                                                                <label class="control-label">Entity Type:</label>
                                                                                                <div>
                                                                                                    <select class="form-control" name="entity_name">
                                                                                                        {% for entity in entity_type %}
                                                                                                        <option value="{{ entity.id }}">{{entity.name}}</option>
                                                                                                        {% endfor %}
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group has-feedback col-sm-6">
                                                                                                <label class="control-label">Issue Type:</label>
                                                                                                <div>
                                                                                                    <select class="form-control" name="issuetype_book">
                                                                                                        {% for issue_book in issue_type_book %}
                                                                                                        <option value="{{ issue_book.id }}">{{issue_book.name}}</option>
                                                                                                        {% endfor %}
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group has-feedback col-sm-6">
                                                                                                <label class="control-label">Number of Books:</label>
                                                                                                <div>
                                                                                                    <input type="text" class="form-control" name="numberofbooks" value="{{ x.num_of_books  }}">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="form-group has-feedback col-sm-6">
                                                                                                <label class="control-label">Number of Days:</label>
                                                                                                <div>
                                                                                                    <input type="text" class="form-control" name="numberofdays" value="{{ x.max_days }}">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <div class="col-sm-12 text-center mngtop30">
                                                                                                    <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-pencil"></i> Update</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <a href="#" class="social-icon">
                                                                        <i class="fa fa-trash-o deletee"></i>
                                                                        <div class="tooltip">Delete</div>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <div class="row-fluid">
                                                        <div class="span6">
                                                            <div class="dataTables_filter" id="dynamic-table_filter"><label>Search: <input type="text" class="form-control" aria-controls="dynamic-table"></label></div>
                                                        </div>
                                                    </div>
                                                    <div class="row-fluid">
                                                        <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-group col-sm-12 col-xs-12">
                                                <div class="row">
                                                    <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                                                        <i class="fa fa-plus pluss"></i> Add New
                                                    </button>
                                                </div>
                                                <div id="myModal1" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">ADD RECORDS</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="form-horizontal bv-form" method="POST" action="{% url 'library_entity_mapping_create'  %}" role="form" id="frmvendorsetup" novalidate="novalidate">
                                                                    {% csrf_token %}
                                                                    <div class="form-group has-feedback">
                                                                        <label class="col-sm-2 control-label">Entity Type:</label>
                                                                        <div class="col-sm-10">
                                                                            <select class="form-control" name="entity_name">
                                                                                {% for entity in entity_type %}
                                                                                <option value="{{ entity.id }}">{{ entity.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group has-feedback">
                                                                        <label class="col-sm-2 control-label">Issue Type:</label>
                                                                        <div class="col-sm-10">
                                                                            <select class="form-control" name="issuetype_book">
                                                                                {% for issue_book in issue_type_book %}
                                                                                <option value="{{ issue_book.id }}">{{ issue_book.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group has-feedback">
                                                                        <label class="col-sm-2 control-label">Number of Books:</label>
                                                                        <div>
                                                                            <input type="text" class="form-control" name="numberofbooks">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group has-feedback">
                                                                        <label class="col-sm-2 control-label">Number of Days:</label>
                                                                        <div>
                                                                            <input type="text" class="form-control" name="numberofdays">
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-save"></i> Submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}