{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section id="main-content" class="mndshbord">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="hdr">
                    Setup
                </h1>
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-sm-12 col-xs-12">
                            <div class="tab_wrapper first_tab">
                                <ul class="tab_list">
                                    <li class="active">Binding Type</li>
                                    <li>Language</li>
                                    <li>Edition</li>
                                    <li>Currency</li>
                                </ul>
                                <div class="content_wrapper">
                                    <div class="tab_content active">
                                        <div class="adv-table">
                                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 296px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">SL No.</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Binding Type</th>
                                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 184px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        
                                                        {% for bin in binding_queryset %}
                                                        <tr class="gradeA odd">
                                                            <td class="sorting_1">{{ bin.id }}</td>
                                                            <td>{{ bin.name }}</td>
                                                            <td>
                                                                <a href="#" class="social-icon" data-toggle="modal" data-target="#myModal43">
                                                                    <i class="fa fa-pencil editt"></i>
                                                                    <div class="tooltip">Edit</div>
                                                                </a>
                                                                <div id="myModal43" class="modal fade modallog" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">UPDATE RECORDS</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'bindingtype_edit' pk=bin.id %}" novalidate="novalidate">
                                                                                    {% csrf_token %}
                                                                                    <div class="row">
                                                                                        <div class="form-group has-feedback col-sm-12">
                                                                                            <label class="control-label">Binding Type:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="bindingtype" value="{{bin.name}}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <div class="col-sm-12 text-center mngtop30">
                                                                                                <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-pencil"></i> Update</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="social-icon">
                                                                    <i class="fa fa-trash-o deletee"></i>
                                                                    <div class="tooltip">Delete</div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="row-fluid">
                                                    <div class="span6 col-sm-8">
                                                        <div class="dataTables_filter" id="dynamic-table_filter"><label>Search: <input type="text" class="form-control" aria-controls="dynamic-table"></label></div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid col-sm-4">
                                                    <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group col-sm-12 col-xs-12">
                                            <div class="row">
                                                <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                                    <i class="fa fa-plus pluss"></i> Add New
                                                </button>
                                            </div>
                                            <div id="myModal" class="modal fade modallog " role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">ADD RECORDS</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'bindingtype_create' %}" novalidate="novalidate">
                                                                {% csrf_token %}
                                                                <div class="form-group has-feedback">
                                                                    <label for="" class="col-sm-2 control-label">Binding Type:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="bindingtype">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-save"></i> Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_content">
                                        <div class="adv-table">
                                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 296px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">SL No.</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Language</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Sequence</th>
                                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 184px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        {% for lan in lang_queryset %}
                                                        <tr class="gradeA odd">
                                                            <td class="sorting_1">{{ lan.id }}</td>
                                                            <td>{{lan.name}}</td>
                                                            <td>{{lan.sequence}}</td>
                                                            <td>
                                                                <a href="#" class="social-icon" data-toggle="modal" data-target="#myModal44">
                                                                    <i class="fa fa-pencil editt"></i>
                                                                    <div class="tooltip">Edit</div>
                                                                </a>
                                                                <div id="myModal44" class="modal fade modallog" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">UPDATE RECORDS</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'language_edit' pk=lan.id %}"  novalidate="novalidate">
                                                                                    {% csrf_token %}
                                                                                    <div class="row">
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Language Code:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="languagecode" value="{{lan.code}}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Language Name:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="languagename" value="{{lan.name}}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-6">
                                                                                            <label class="control-label">Sequence:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="languagesequence" value="{{ lan.sequence }}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <div class="col-sm-12 text-center mngtop30">
                                                                                                <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-pencil"></i> Update</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="social-icon">
                                                                    <i class="fa fa-trash-o deletee"></i>
                                                                    <div class="tooltip">Delete</div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="row-fluid">
                                                    <div class="span6">
                                                        <div class="dataTables_filter" id="dynamic-table_filter"><label>Search: <input type="text" class="form-control" aria-controls="dynamic-table"></label></div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group col-sm-12 col-xs-12">
                                            <div class="row">
                                                <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                                                    <i class="fa fa-plus pluss"></i> Add New
                                                </button>
                                            </div>
                                            <div id="myModal1" class="modal fade modallog " role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">ADD RECORDS</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'language_create' %}" novalidate="novalidate">
                                                                {% csrf_token %}
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-2 control-label">Language Code:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="languagecode">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-2 control-label">Language Name:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="languagename">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-2 control-label">Sequence:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="languagesequence">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-save"></i> Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_content">
                                        <div class="adv-table">
                                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 296px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">SL No.</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Item Edition</th>
                                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 184px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        {% for edi in ed_queryset %}
                                                        <tr class="gradeA odd">
                                                            <td class="sorting_1">{{ edi.id }}</td>
                                                            <td>{{edi.name}}</td>
                                                            <td>
                                                                <a href="#" class="social-icon" data-toggle="modal" data-target="#myModal45">
                                                                    <i class="fa fa-pencil editt"></i>
                                                                    <div class="tooltip">Edit</div>
                                                                </a>
                                                                <div id="myModal45" class="modal fade modallog" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">UPDATE RECORDS</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'edition_edit' pk=edi.id %}" novalidate="novalidate">
                                                                                    {% csrf_token %}
                                                                                    <div class="row">
                                                                                        <div class="form-group has-feedback col-sm-12">
                                                                                            <label class="control-label">Book Edition Name:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="edition" value="{{edi.name}}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <div class="col-sm-12 text-center mngtop30">
                                                                                                <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-pencil"></i> Update</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="social-icon">
                                                                    <i class="fa fa-trash-o deletee"></i>
                                                                    <div class="tooltip">Delete</div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="row-fluid">
                                                    <div class="span6">
                                                        <div class="dataTables_filter" id="dynamic-table_filter"><label>Search: <input type="text" class="form-control" aria-controls="dynamic-table"></label></div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group col-sm-12 col-xs-12">
                                            <div class="row">
                                                <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                                    <i class="fa fa-plus pluss"></i> Add New
                                                </button>
                                            </div>
                                            <div id="myModal2" class="modal fade modallog " role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">ADD RECORDS</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'edition_create' %}" novalidate="novalidate">
                                                                {% csrf_token %}
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-3 control-label">Book Edition Name:</label>
                                                                    <div class="col-sm-9">
                                                                        <input type="text" class="form-control" name="edition">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-save"></i> Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab_content">
                                        <div class="adv-table">
                                            <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                                <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                                                    <thead>
                                                        <tr role="row">
                                                            <th class="sorting_desc" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 296px;" aria-sort="descending" aria-label="Rendering engine: activate to sort column ascending">SL No.</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Currency Name</th>
                                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 397px;" aria-label="Browser: activate to sort column ascending">Sequence</th>
                                                            <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 184px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                        {% for cur in curr_queryset %}
                                                        <tr class="gradeA odd">
                                                            <td class="sorting_1">{{ cur.id }}</td>
                                                            <td>{{cur.name}}</td>
                                                            <td>{{ cur.sequence}}</td>
                                                            <td>
                                                                <a href="#" class="social-icon" data-toggle="modal" data-target="#myModal46">
                                                                    <i class="fa fa-pencil editt"></i>
                                                                    <div class="tooltip">Edit</div>
                                                                </a>
                                                                <div id="myModal46" class="modal fade modallog" role="dialog">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                <h4 class="modal-title">UPDATE RECORDS</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="{% url 'currency_edit' pk=cur.id %}" novalidate="novalidate">
                                                                                    {% csrf_token %}
                                                                                    <div class="row">
                                                                                        <div class="form-group has-feedback col-sm-12">
                                                                                            <label class="control-label">Currency Code:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="currencycode" value="{{ cur.code }}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-12">
                                                                                            <label class="control-label">Currency Name:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="currencyname" value="{{cur.name}}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group has-feedback col-sm-12">
                                                                                            <label class="control-label">Sequence:</label>
                                                                                            <div>
                                                                                                <input type="text" class="form-control" name="currencysequence" value="{{cur.sequence}}">
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                                            <div class="col-sm-12 text-center mngtop30">
                                                                                                <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-pencil"></i> Update</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="social-icon">
                                                                    <i class="fa fa-trash-o deletee"></i>
                                                                    <div class="tooltip">Delete</div>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                <div class="row-fluid">
                                                    <div class="span6">
                                                        <div class="dataTables_filter" id="dynamic-table_filter"><label>Search: <input type="text" class="form-control" aria-controls="dynamic-table"></label></div>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group col-sm-12 col-xs-12">
                                            <div class="row">
                                                <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
                                                    <i class="fa fa-plus pluss"></i> Add New
                                                </button>
                                            </div>
                                            <div id="myModal3" class="modal fade modallog " role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">ADD RECORDS</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form class="form-horizontal bv-form" role="form" id="frmvendorsetup" method="POST" action="/currency_create" novalidate="novalidate">
                                                                {% csrf_token %}
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-2 control-label">Currency Code:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="currencycode">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-2 control-label">Currency Name:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="currencyname">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group has-feedback">
                                                                    <label class="col-sm-2 control-label">Sequence:</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" name="currencysequence">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" id="addVendor"><i class="fa fa-save"></i> Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
